body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

button {
  padding: 7px 14px;
  color: white;
  background-color: rgb(255, 59, 25);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  background-color: rgb(255, 38, 0);
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

#filter-all {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

#filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70vw;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

input,
select {
  font-size: 1.1em;
  color: grey;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}